body {
  margin: 0;
  background: #222;
  color: #ddd;
  text-align: center;
  font-family: 'StarJedi-DGRW', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'StarJedi-DGRW';
  src: url('./fonts/StarJedi-DGRW.ttf');
}
